<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mishka games</title>
    <!-- <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css"> -->
    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/reset.css') }}" rel="stylesheet">
    {% block head %} 
    
    {% endblock %}
</head>

<body>
    <header class="header">
        <div class="top-left">
            <a href="/" class="header-logo">Mishka</a>
        </div>
        <div class="header-menu menu">
            <div class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class="menu-body">
                <ul class="menu-list">
                    <li class="menu-item" id="menu-item-transition"><a href="about-us" class="menu-link">О нас</a></li>
                    <li class="menu-item" id="menu-item-transition"><a href="works" class="menu-link">Проекты</a></li>
                    <li class="menu-item" id="menu-item-transition"><a href="news" class="menu-link">Новости</a></li>
                    <li class="menu-item" id="menu-item-transition"><a href="career" class="menu-link">Работа</a></li>

                </ul>
            </nav>
        </div>
        <div class="social-icons">
            <a href="https://vk.com/studiomishka" class="vk-logo" id="social-logo" target="_blank"><img src="{{ url_for('static', path='icons/vk.svg') }}" alt="usr" class="social-imgs"></a>
            <a href="https://t.me/studiomishka" class="tg-logo" id="social-logo" target="_blank"><img src="{{ url_for('static', path='icons/telegram.svg') }}" alt="usr"
                    class="social-imgs"></a>
            <a href="https://discord.gg/FhYpaPUVzN" class="dicrod-logo" id="social-logo" target="_blank"    ><img src="{{ url_for('static', path='icons/discord.svg') }}" alt="usr"
                    class="social-imgs"></a>
        </div>
    </header>
    {% block content %} 
    
    {% endblock %}

    <footer class="Footer">
        <div class="footer-grid">
            <div class="footer-logo">Mishka</div>
            <div class="footer-about-us" id="footer-text">
                <div>О нас</div>
                <ul>
                    <a href="">
                        <li id="footer-item-transition">История компании</li>
                    </a>
                    <a href="">
                        <li id="footer-item-transition">Наша философия,
                            миссия и принципы</li>
                    </a>
                    <a href="">
                        <li id="footer-item-transition">Как мы создаём игры</li>
                    </a>
                </ul>
            </div>
            <div class="footer-career" id="footer-text">
                <div>Карьера</div>
                <ul>
                    <a href="">
                        <li id="footer-item-transition">Открытые вакансии</li>
                    </a>
                    <a href="">
                        <li id="footer-item-transition">Переезд в другой город</li>
                    </a>
                    <a href="">
                        <li id="footer-item-transition">Преимущества работы в компании</li>
                    </a>
                </ul>
            </div>
            <div class="footer-news" id="footer-text">
                <div>Новости</div>
                <ul>
                    <a href="">
                        <li id="footer-item-transition">Лента новостей</li>
                    </a>
                </ul>
            </div>
            <div class="footer-works" id="footer-text">
                <div>Проекты</div>
                <ul>
                    <a href="">
                        <li id="footer-item-transition">Выпущенные игры</li>
                    </a>
                    <a href="">
                        <li id="footer-item-transition">Концепты</li>
                    </a>
                </ul>
            </div>
            <div class="footer-testing" id="footer-text">
                <div>Тестирование</div>
                <ul>
                    <a href="">
                        <li id="footer-item-transition">Программа тестирования</li>
                    </a>
                </ul>
            </div>
            <div class="footer-studio-name">
                2023 Mishka Studio
            </div>
        </div>

    </footer>
    <script src="{{ url_for('static', path='js/script.js') }}"></script>
</body>

</html>