{% extends "base.html"%}

{% block head %}
<link href="{{ url_for('static', path='css/news.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
<section class="news-page">
    <div class="news-page-img">
        <h1 class="news-header">Новости</h1>
    </div>
</section>

<section class="news-page-content">

    <div class="news-page-content-grid">

        <div class="news-card-container">
            <img src="{{ url_for('static', path='img/c99f0fef-6503-4d88-90b3-bd094de15845.jpg') }}" alt="">
            <p>Экскурсия по студии для студентов. Привлекаем будущих специалистов. </p>

                <a href="" class="news-page-card-button-link">
                    <div class="news-page-card-button" id="news-page-button">
                        <p>Читать больше</p>
                    </div>
                </a>

        </div>

        <div class="news-card-container">
            <img src="{{ url_for('static', path='img/c99f0fef-6503-4d88-90b3-bd094de15845.jpg') }}" alt="">
            <p>Экскурсия по студии для студентов. Привлекаем будущих специалистов. </p>

                <a href="" class="news-page-card-button-link">
                    <div class="news-page-card-button" id="news-page-button">
                        <p>Читать больше</p>
                    </div>
                </a>

        </div>
        <div class="news-card-container">
            <img src="{{ url_for('static', path='img/c99f0fef-6503-4d88-90b3-bd094de15845.jpg') }}" alt="">
            <p>Экскурсия по студии для студентов. Привлекаем будущих специалистов. </p>

                <a href="" class="news-page-card-button-link">
                    <div class="news-page-card-button" id="news-page-button">
                        <p>Читать больше</p>
                    </div>
                </a>

        </div>
        <div class="news-card-container">
            <img src="{{ url_for('static', path='img/c99f0fef-6503-4d88-90b3-bd094de15845.jpg') }}" alt="">
            <p>Экскурсия по студии для студентов. Привлекаем будущих специалистов. </p>

                <a href="" class="news-page-card-button-link">
                    <div class="news-page-card-button" id="news-page-button">
                        <p>Читать больше</p>
                    </div>
                </a>

        </div>
        <div class="news-card-container">
            <img src="{{ url_for('static', path='img/c99f0fef-6503-4d88-90b3-bd094de15845.jpg') }}" alt="">
            <p>Экскурсия по студии для студентов. Привлекаем будущих специалистов. Экскурсия по студии для студентов. Привлекаем будущих специалистов</p>

                <a href="" class="news-page-card-button-link">
                    <div class="news-page-card-button" id="news-page-button">
                        <p>Читать больше</p>
                    </div>
                </a>

        </div>


    </div>

</section>
{% endblock %}