/* Страница с новостями */

.news-page {
    margin-top: 90px;
    display: flex;
    background-color: #000000;
    width: 100%;
    min-height: calc(90vh - 90px);
    margin-bottom: 90px;
}

.news-page-img {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/1c5.png);
    background-position: center;
}

.news-header{
    font-size: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    min-height: calc(90vh - 90px);
    width: 100vw;
    margin: 0;
    padding: 0;
    mix-blend-mode: lighten;
    color: #000;
    background-color: #fff;
}