@font-face {
    font-family: "Balkar";
    src: url("../fonts/BalkaraFreeCondensed-npoekmu.me.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt,wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-family: 'Inter', sans-serif;
}

body.lock {
    overflow: hidden;
}

/*---------Шапка страницы--------*/
.header {
    font-family: 'Inter', sans-serif;
    height: 90px;
    padding: 4vh 14vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0px 2px 9px -2px rgba(34, 60, 80, 0.25);
    -moz-box-shadow: 0px 2px 9px -2px rgba(34, 60, 80, 0.25);
    box-shadow: 0px 2px 9px -2px rgba(34, 60, 80, 0.25);
}



/*-------Логотип сайта-------*/

.header-logo {
    font-family: "Balkar";
    text-transform: uppercase;
    padding: 5px;
    text-decoration: none;
    font-size: 32px;
    color: rgba(39, 41, 43, 1);
}

.social-imgs {
    width: 24px;
    height: 24px;
}

/*--------------------Меню--------------------*/
.menu-icon {
    display: none;
}

#social-logo {
    opacity: 0.4;
}

#social-logo:hover {
    transition: all 0.4s;
    opacity: 1;
}

#menu-item-transition {
    opacity: 0.4;
}

#menu-item-transition:hover {
    transition: all 0.4s;
    opacity: 1;
}

@media (max-width: 1023px) {
    .header {
        padding: 0 4vw;
        mix-blend-mode: normal;
    }

    .header-logo {
        order: 0;
        color: rgba(39, 41, 43, 1);
    }

    #menu-item-transition {
        opacity: 1;
    }

    .menu-icon {
        display: block;
        width: 30px;
        height: 18px;
        position: relative;
        z-index: 5;
        cursor: pointer;
        border-radius: 6px;
    }

    .menu-icon span {
        background-color: rgba(39, 41, 43, 1);
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 100%;
        height: 2px;
        /*background-color: rgba(39, 41, 43, 1);*/
        transition: all 0.2s;
    }

    .menu-icon span:first-child {
        top: 0;
    }

    .menu-icon span:last-child {
        top: auto;
        bottom: 0;
    }

    .menu-icon.active span {
        background-color: rgba(39, 41, 43, 1);
        transform: scale(0);
    }

    .menu-icon.active span:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
    }

    .menu-icon.active span:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
    }

    .social-icons {
        display: none;
    }
}


@media (max-width: 1023px) {
    .menu-body {
        position: absolute;
        bottom: 100%;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(39, 41, 43, 1);
        transition: all 0.3s;
    }
}

.menu-body.active {
    transform: translateY(100%);

}

.menu-list {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
}

.menu-item {
    margin: 0 24px;
}


@media (max-width: 1023px) {
    .menu-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 10vh 20vw;
        gap: 0;
        height: 100%;
        width: 100%;
        background-color: #ffffff;
        overflow: auto;

    }
}


.menu-link {
    color: rgba(39, 41, 43, 1);
    text-decoration: none;
    transition: 0.5s;
    font-weight: regular;
    text-transform: uppercase;
}



@media (max-width: 1023px) {
    .menu-link {
        text-decoration: none;
        display: block;
        font-size: 30px;
        line-height: 70px;
        transition: 0.3s;
        color: rgba(39, 41, 43, 1);
    }

}

/* .menu-link:after {
    background-color: #000000;
    display: block;
    content: "";
    height: 2px;
    width: 0;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
} */

/* .menu-link,
:hover:after,
.menu-link:focus:after {
    width: 100%;
} */


/* -----------------Контент ------------------*/

.home-page-main {
    margin-top: 90px;
    display: flex;
    background-color: #000000;
    width: 100%;
    min-height: calc(90vh - 90px);
}

.home-page-main-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/hsHgReQDi50.jpg);
    background-position: center;
}

.home-page-header {
    font-family: "Balkar";
    font-size: 12vw;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #FFFFFF;
    min-height: calc(90vh - 90px);
    width: 100vw;
    margin: 0;
    padding: 0;
    mix-blend-mode: lighten;
    color: rgba(39, 41, 43, 1);
    background-color: #fff;
}

.home-page-content {
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
}

.home-page-content-grid {
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px 20px;
    align-items: stretch;
    padding: 0 14vw;
}

.home-page-content-grid img {
    width: 100%;
    object-fit: contain;
}

.h2-header-container {
    margin-top: 98px;
    text-align: center;
    grid-column: 4/10;
}

.h2-header-container h2 {
    font-size: 48px;
    font-weight: 500;
    color: rgba(39, 41, 43, 1);
}

.p-header-description-container {
    grid-row: 2/3;
    grid-column: 4/10;
}

.p-header-description-container p {
    font-size: 16px;
}

.about-us-card-container {
    position: relative;
    margin-top: 40px;
    grid-row: 3/4;
    grid-column: 1/7;

}

.about-us-card-container p {
    margin-top: 24px;
    font-size: 16px;
}

.about-us-card-container a {
    display: inline-block;
    position: relative;
}

.about-us-card-container .about-us-card-link .card-body {
    font-size: 48px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffffff;
    padding-bottom: 15%;
}

.card-title {
    font-weight: 500;
    -webkit-text-shadow: 0px 0px 01px rgba(0, 0, 0, 0.5);
    -moz-text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.about-us-button-container {
    margin: 0;
    grid-row: 4/5;
    grid-column: 1/7;

}

.about-us-button-container a {
    text-decoration: none;
    color: rgba(39, 41, 43, 1);
}

.about-us-button {
    margin: 0;
    display: inline-block;
    text-align: center;
    border: 2px solid rgba(39, 41, 43, 1);
    border-radius: 3px;
}

.about-us-button p {
    margin: 0;
    padding: 12px 24px;
    font-size: 12px;
    text-transform: uppercase;
}

.career-card-container {
    position: relative;
    margin-top: 40px;
    grid-row: 3/4;
    grid-column: 7/13;
}

.career-card-container p {
    margin-top: 24px;
    font-size: 16px;
}



.career-card-container a {
    display: inline-block;
    position: relative;
}

.career-card-container .career-card-link .card-body {
    font-size: 48px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffffff;
    padding-bottom: 15%;
}

.card-title {
    -webkit-text-shadow: 0px 0px 01px rgba(0, 0, 0, 0.5);
    -moz-text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.career-button-container {
    margin: 0;
    grid-row: 4/5;
    grid-column: 7/13;
}

.career-button-container a {
    text-decoration: none;
    color: rgba(39, 41, 43, 1);
}

.career-card-button {
    margin: 0;
    display: inline-block;
    text-align: center;
    border: 2px solid rgba(39, 41, 43, 1);
    border-radius: 3px;
}

.career-card-button p {
    margin: 0;
    padding: 12px 24px;
    font-size: 12px;
    text-transform: uppercase;
}

#desktop-hide {
    display: none;
}

.our-works-card-container-img {
    display: flex;
    margin-top: 44px;
    grid-row: 5/6;
    grid-column: 1/7;
}

.our-works-card-container-text {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-row: 5/6;
    grid-column: 7/13;
}

.our-works-button-container {
    grid-row: 5/6;
    grid-column: 7/13;
}

.our-works-card-container-text h2 {
    font-weight: 500;
    font-size: 36px;
}

.our-works-card-container-text a {
    text-decoration: none;
    color: rgba(39, 41, 43, 1);

}

.our-works-card-button {
    display: inline-block;
    text-align: center;
    margin-top: 24px;
    border: 2px solid rgba(39, 41, 43, 1);
    border-radius: 3px;
}

.our-works-card-container-text p {
    margin-top: 24px;
    font-size: 16px;
}

.our-works-card-button p {
    margin: 0;
    padding: 12px 24px;
    font-size: 12px;
    text-transform: uppercase;
}

.news-header-container {
    display: inline-block;
    margin-top: 40px;
    width: 100%;
    grid-row: 6/7;
    grid-column: 1/13;
    text-align: left;
    font-size: 40px;
}

.news-header-container h2 {
    font-weight: 500;
    color: rgba(39, 41, 43, 1);
}

.news-card-container-1 {
    grid-row: 7/8;
    grid-column: 1/5;
}

.news-card-container-1 p {
    margin-top: 24px;
    font-size: 16px;
}

.news-card-container-1 a {
    text-decoration: none;
    color: rgba(39, 41, 43, 1);
}


.news-card-container-2 {
    grid-row: 7/8;
    grid-column: 5/9;
}

.news-card-container-2 p {
    margin-top: 24px;
    font-size: 16px;
}

.news-card-container-2 a {
    text-decoration: none;
    color: rgba(39, 41, 43, 1);

}


.news-card-container-3 {
    grid-row: 7/8;
    grid-column: 9/13;
}

.news-card-container-3 p {
    margin-top: 24px;
    font-size: 16px;
}

.news-card-container-3 a {
    text-decoration: none;
    color: rgba(39, 41, 43, 1);

}

.news-card-button-1 {
    grid-row: 8/9;
    grid-column: 1/5;
}

.news-card-button-2 {
    grid-row: 8/9;
    grid-column: 5/9;
}

.news-card-button-3 {
    grid-row: 8/9;
    grid-column: 9/13;
}

.news-card-button-link {
    text-decoration: none;
    color: rgba(39, 41, 43, 1);
}

.news-card-button {
    display: inline-block;
    text-align: center;

    border: 2px solid rgba(39, 41, 43, 1);
    border-radius: 3px;
}

.news-card-button p {
    margin: 0;
    padding: 12px 24px;
    font-size: 12px;
    text-transform: uppercase;
}

.read-all-news {
    margin-left: auto;
    margin-right: auto;
    grid-row: 9/10;
    grid-column: 1/13;
}

.read-all-button-link {
    text-decoration: none;
    color: rgba(39, 41, 43, 1);
}

.read-all-button {
    display: inline-block;
    text-align: center;
    margin-top: 24px;
    border: 2px solid rgba(39, 41, 43, 1);
    border-radius: 3px;
    background-color: rgba(39, 41, 43, 1);
    color: #FFFFFF;
}

.read-all-button p {
    margin: 0;
    padding: 24px 94px;
    font-size: 12px;

    text-transform: uppercase;
}

.contact-us {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 100%;
    min-height: calc(90vh - 98px);
    margin-top: 90px;
    background-image: url(../img/1c5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-us-container {
    display: flex;
    width: 50vw;
    height: 50vh;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.contact-info {
    font-family: 'Inter', sans-serif;
}

.contact-info h2 {
    font-size: 30px;
}

.contact-link {
    color: rgba(39, 41, 43, 1);
}

.contact-info p {
    margin-top: 12px;
    font-size: 16px;
}

footer {
    color: rgba(39, 41, 43, 1);
    height: auto;
    background-color: #F3F3F3;
    font-weight: 200;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px 20px;
    align-items: stretch;
    padding: 0 14vw;
    font-family: 'Inter', sans-serif;
}

.footer-logo {
    font-family: "Balkar";
    margin-top: 18px;
    grid-column: 1/3;
    font-size: 24px;
    text-transform: uppercase;
    opacity: 0.6;
}

#footer-text {
    font-size: 16px;
    text-transform: uppercase;
}

.footer-about-us {
    margin-top: 18px;
    grid-column: 3/5;
}

.footer-grid ul {
    margin-top: 19px;
    list-style: none;
}

.footer-grid li {
    margin-top: 10px;
    list-style: none;
    text-transform: none;
}

.footer-grid a {
    color: rgba(39, 41, 43, 1);
}

.footer-career {
    margin-top: 18px;
    grid-column: 5/7;
}

.footer-news {
    margin-top: 18px;
    grid-column: 7/9;
}

.footer-works {
    margin-top: 18px;
    grid-column: 9/11;
}

.footer-testing {
    margin-top: 18px;
    grid-column: 11/13;
}

.footer-studio-name {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    grid-row: 2/3;
    grid-column: 1/13;
    margin-bottom: 24px;
}

#main-page-button:hover {
    background-color: rgba(39, 41, 43, 1);
    color: #FFFFFF;
    transition: all 0.2s;
    opacity: 0.6;
}

#main-page-button-read-all:hover {
    background-color: #FFFFFF;
    color: rgba(39, 41, 43, 1);
    transition: all 0.2s;
    opacity: 0.6;
}


#footer-item-transition {
    font-weight: 300;
    opacity: 0.4;
}

#footer-item-transition:hover {
    opacity: 1;
    transition: all 0.4s;
}

@media (min-width: 769px) {
    #footer-text {
        font-size: 12px;
        text-transform: uppercase;
    }
}

@media (min-width:1024px) {
    #footer-text {
        font-size: 16px;
        text-transform: uppercase;
    }
}

/*--------------адаптация контента под мобилки--------------*/

@media (max-width: 1024px) {
    .home-page-content-grid {
        font-family: 'Inter', sans-serif;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 24px 20px;
        align-items: stretch;
        padding: 0 4vw;
    }

    .contact-us-container {
        display: flex;
        width: 50vw;
        height: 50vh;
        padding: 5vh 5vw;
        background-color: #fafafa;
        align-items: center;
        justify-content: center;
    }

    footer {
        height: auto;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 24px 20px;
        align-items: stretch;
        padding: 0 4vw;
        font-weight: 400;
        font-family: 'Inter', sans-serif;
    }

    .footer-studio-name {
        display: flex;
        justify-content: center;
        margin-top: 24px;
        grid-row: 2/3;
        grid-column: 1/13;
    }

}

@media (max-width: 768px) {
    #mobile-hide {
        display: none;
    }

    #desktop-hide {
        display: inline-block;
    }

    .h2-header-container {
        margin-top: 98px;
        text-align: center;
        grid-column: 1/13;
    }

    .h2-header-container h2 {
        font-size: 32px;
        font-weight: 500;
    }

    .p-header-description-container {
        grid-row: 2/3;
        grid-column: 1/13;
    }

    .about-us-card-container {
        margin-top: 40px;
        grid-row: 3/4;
        grid-column: 1/13;
    }

    .about-us-button-container {
        margin: 0;
        grid-row: 4/5;
        grid-column: 1/13;

    }

    .career-card-container {
        margin-top: 40px;
        grid-row: 5/6;
        grid-column: 1/13;
    }

    .career-button-container {
        margin: 0;
        grid-row: 6/7;
        grid-column: 1/13;

    }

    .our-works-card-container-text-mobile {
        margin-top: 40px;
        grid-row: 7/8;
        grid-column: 1/13;
    }

    .our-works-card-container-text-mobile p {
        margin-top: 24px;
        font-size: 16px;
    }

    .our-works-card-container-text-mobile a {
        display: inline-block;
        position: relative;
    }

    .our-works-card-container-text-mobile .our-works-card-link .card-body {
        font-size: 48px;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        color: #ffffff;
        padding-bottom: 15%;
    }

    .our-works-button-container {
        margin: 0;
        grid-row: 8/9;
        grid-column: 1/13;
    }

    .our-works-button-container a {
        text-decoration: none;
        color: #000;
    }

    .news-header-container {
        display: inline-block;
        margin-top: 40px;
        width: 100%;
        grid-row: 9/10;
        grid-column: 1/13;
        text-align: left;
        font-size: 40px;
    }

    .news-card-container-1 {
        grid-row: 10/11;
        grid-column: 1/13;
    }

    .news-card-button-1 {
        grid-row: 11/12;
        grid-column: 1/13;
    }

    .news-card-container-2 {
        grid-row: 12/13;
        grid-column: 1/13;
    }

    .news-card-button-2 {
        grid-row: 13/14;
        grid-column: 1/13;
    }

    .news-card-container-3 {
        grid-row: 14/15;
        grid-column: 1/13;
    }

    .news-card-button-3 {
        grid-row: 15/16;
        grid-column: 1/13;
    }

    .read-all-news {
        display: flex;
        justify-content: center;
        grid-row: 16/17;
        grid-column: 1/13;
    }

    /*------- Контакты -----------*/
    .contact-us-container {
        display: flex;
        width: 50vw;
        height: 50vh;
        padding: 5vh 5vw;
        background-color: #FFFFFF;
        align-items: center;
        justify-content: center;
    }

    .contact-info h2 {
        font-size: 20px;
    }

    .contact-info p {
        margin-top: 12px;
        font-size: 16px;
    }


    /* ------------Футер-------- */
    .footer-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 24px 20px;
        align-items: stretch;
        padding: 0 5vw;
        font-family: 'Inter', sans-serif;
    }

    footer {
        height: auto;
        background-color: #F3F3F3;
        font-weight: 200;
    }

    .footer-logo {
        font-family: "Balkar";
        margin-top: 18px;
        grid-column: 1/13;
        grid-row: 1/2;
        font-size: 32px;
        text-transform: uppercase;
        opacity: 0.6;
    }

    .footer-about-us {
        margin-top: 18px;
        grid-column: 1/13;
        grid-row: 2/3;
        font-size: 16px;
        text-transform: uppercase;
    }

    .footer-career {
        margin-top: 18px;
        grid-column: 1/13;
        grid-row: 3/4;
        font-size: 16px;
        text-transform: uppercase;
    }

    .footer-news {
        margin-top: 18px;
        grid-column: 1/13;
        grid-row: 4/5;
        font-size: 16px;
        text-transform: uppercase;
    }

    .footer-works {
        margin-top: 18px;
        grid-column: 1/13;
        grid-row: 5/6;
        font-size: 16px;
        text-transform: uppercase;
    }

    .footer-testing {
        margin-top: 18px;
        grid-column: 1/13;
        grid-row: 6/7;
        font-size: 16px;
        text-transform: uppercase;
    }

    .footer-studio-name {
        margin-top: 24px;
        grid-column: 1/13;
        grid-row: 7/8;
    }
}