
.works-page {
    margin-top: 90px;
    display: flex;
    background-color: #000000;
    width: 100%;
    min-height: calc(90vh - 90px);
    margin-bottom: 90px;
}

.works-page-img {
    display: flex;
    align-items: center;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/1c5.png);
    background-position: center;
}

.works-page-header{
    font-size: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    /* min-height: calc(60vh - 90px); */
    width: 80%;
    margin: 0;
    padding: 2vh 5vw;
    mix-blend-mode: lighten;
    color: rgba(39, 41, 43, 1);
    background-color: #fff;
}